body {
    background-color: blueviolet;
}

#search{
    height: 20px;
    width: 120px;
    border-radius: 50px;
    padding-left: 10px;
}

#description-box{
 width: 430px; 
 height: 640px; 
 background-color: aliceblue;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 border: none;
 color:blueviolet;
 font-family: 'Courier New', Courier, monospace;
 text-transform: capitalize;
 
 
 
}

#container{
    display: flex; 
    vertical-align: top;
    justify-content: space-between;
    margin-top: 20px;
}

